# Copyright 2021 Canonical Ltd.
# See LICENSE file for licensing details.

options:
  cluster-name:
    description: "Optional - Name of the MySQL InnoDB cluster"
    type: "string"
  profile:
   description: |
      profile representing the scope of deployment, and used to be able to enable high-level
      high-level customisation of sysconfigs, resource checks/allocation, warning levels, etc.
      Allowed values are: “production”, “staging” and “testing”.
   type: string
   default: production
# Config options for the legacy 'mysql relation'
  mysql-interface-user:
    description: "The database username for the legacy 'mysql' relation"
    type: "string"
  mysql-interface-database:
    description: "The database name for the legacy 'mysql' relation"
    type: "string"
