# Use system user
su {{ system_user }} {{ system_user }}

# Create dedicated subdirectory for rotated files
createolddir 770 {{ system_user }} {{ system_user }}

# Frequency of logs rotation
hourly
maxage 7
rotate 10800

# Naming of rotated files should be in the format:
dateext
dateformat -%Y%m%d_%H:%M.log

# Settings to prevent misconfigurations and unwanted behaviours
ifempty
missingok
nocompress
nomail
nosharedscripts
nocopytruncate

{{ snap_common_directory }}/var/log/mysql/error.log {
    olddir archive_error
    postrotate
        juju_command=/usr/bin/juju-run
        if command -v /usr/bin/juju-exec; then juju_command=/usr/bin/juju-exec; fi
        "$juju_command" -u {{ unit_name }} LOGS_TYPE=ERROR JUJU_DISPATCH_PATH=hooks/flush_mysql_logs {{ charm_directory }}/dispatch
    endscript
}

{{ snap_common_directory }}/var/log/mysql/general.log {
    olddir archive_general
    postrotate
        juju_command=/usr/bin/juju-run
        if command -v /usr/bin/juju-exec; then juju_command=/usr/bin/juju-exec; fi
        "$juju_command" -u {{ unit_name }} LOGS_TYPE=GENERAL JUJU_DISPATCH_PATH=hooks/flush_mysql_logs {{ charm_directory }}/dispatch
    endscript
}

{{ snap_common_directory }}/var/log/mysql/slowquery.log {
    olddir archive_slowquery
    postrotate
        juju_command=/usr/bin/juju-run
        if command -v /usr/bin/juju-exec; then juju_command=/usr/bin/juju-exec; fi
        "$juju_command" -u {{ unit_name }} LOGS_TYPE=SLOW JUJU_DISPATCH_PATH=hooks/flush_mysql_logs {{ charm_directory }}/dispatch
    endscript
}
